@import 'tailwindcss';

.split-view-view::before {
	background: transparent !important;
}

.sash-vertical::before {
	border-radius: 50px;
}

.stats-panel {
	right: 8px !important;
	top: 8px !important;
	left: unset !important;
}
